<?xml version="1.0" encoding="UTF-8"?>
<hosts>
	<host name="sender">
		<ip>192.168.1.67</ip>
	</host>
	<host name="receiver">
		<ip>192.168.1.65</ip>
	</host>
	<host name="simulator">
		<ip>192.168.1.70</ip>
		<ber_rate>10</ber_rate>	
		<timeout_out_ms>1</timeout_out_ms>
	</host>
</hosts>