<?xml version="1.0" encoding="UTF-8"?>
<hosts>
	<host id="sender">
		<ip>192.168.1.67</ip>
		<timeout_sec>2.0</timeout_sec>
		<window_size>8</window_size>
	</host>
	<host id="receiver">
		<ip>192.168.1.65</ip>
	</host>
	<host id="simulator">
		<ip>192.168.1.70</ip>
		<ber_rate>10</ber_rate>	
	</host>
</hosts>